body{
  background: #161616;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
header{
  padding: 0px 0px 10px 0px;
}

#wrapper{
  margin: 0 auto;
  width: 800px;
  background:rgb(32, 31, 31);
  color: rgb(165, 162, 162);
}

#wrapper header img{
  margin-left: -20px;
  margin-top: 20px;
}

#content, #sidebar{
  float:left;
}

/* Sidebar menu a la derecha*/
#sidebar{
  width:20%;
  color: #e79c10;
  margin-top: 50px;
  padding: 5px;
  border: solid 1px #b81a15;
  background: #504f4d78;
  border-radius: 10px;
}

#sidebar-list-2{
  color: rgb(214, 73, 30);
  list-style-image: url(https://cutt.ly/eflc4cy );
  margin-left: -2px;
}

#icopeli{
  margin-left: 27px;
}

/* Fija la navegacion arriba*/
#horzNav{
  position: sticky;
  top: 0;
  background: #e79c10;
  padding: 14px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

#horzNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#horzNav ul li {
  display: inline;
}

#horzNav ul li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #b81a15; 
}

#horzNav ul li a:hover {
  background-color: #b81a15;
  color: #e9cdcd;
}

/* Contenido columna izquierda*/
#content {
  width:70%;
  padding: 20px;
  text-align: justify;
  line-height: 180%;
}

#content h1, h2{  
  text-align: center;
  color: #b81a15;
  font-size:xx-large;
}

#content h2{
  font-size:x-large;
}

article #videod{
  float: right;
  padding: 5px 1px 5px 15px;
}

article #videoi{
  float: left;
  padding: 5px 15px 5px 1px
}

/* Botones*/
#buttons .site-button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  width: 15%;
  
}
#buttons .site-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color:#ffab23;
  text-decoration:none;
}
#buttons .site-button a {
	color: #b81a15;
  text-decoration:none;
}

/* Footer*/
footer {
    clear: both;
    line-height: 1.3em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(125,125,125);
    font-weight: bold;
    padding-bottom: 10px;
  }

  